<div class="dropdown">
  <button id="myBtn" class="dropbtn"><i class="fa-solid fa-user"></i>&ensp; {{user.username}}</button>
  <div id="myDropdown" class="dropdown-content">
    {{user.username}}
    <a href="/users/profile/{{user.userId}}"><i class="fa-regular fa-address-card"></i>&ensp;Profile</a>
    <form action="/users/logout" method="POST" class="logout-form">
      <button type="submit" class="logoutbtn"><i class="fa-solid fa-arrow-right-from-bracket"></i>&ensp;Logout</button>
    </form>
  </div>
</div>
