@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* default font */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #fff;
  position: fixed; /* fixed on the top of the page */
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}

/* left part */
.navbar-start {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 2; 
}

.navbar-end {
  display: flex;
  align-items: center;
  margin-right: 50px;
  gap: 20px;
}

.navbar-start .homebtn {
  font-size: 22px;
  color: #cd201f;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10px;
}

.navbar-start .yt {
  color: #cd201f;
}

/* searchTerm */
.navbar-center form {
  display: flex;
  width: 100%;
  max-width: 600px; 
}

.search {
  display: flex;
  border: 1.5px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.searchTerm {
  width: 100%;
  border: none;
  padding: 10px 14px;
  font-size: 15px;
}

.searchButton {
  flex-grow: 0;
  border: none; 
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.searchButton:hover {
  background-color: #cd201f;
}

.navbar-end .postbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px; 
  background-color: transparent; 
  border-radius: 50%; 
  text-decoration: none; 
  position: relative;
  transition: background-color 0.3s ease; 
  cursor: pointer;
}

.postbtn i {
  font-size: 22px;
  color: rgb(63, 63, 63); 
}

.createtext {
  display: none;
  position: absolute;
  bottom: -40px; 
  background-color: #666; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
}

.postbtn:hover .createtext {
  display: block;
}

.postbtn:hover {
  background-color: #e0e0e0; 
}

.loginbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px; 
  border: 1px solid #ccc; 
  border-radius: 50px; 
  background-color: transparent; 
  font-size: 20px;
  color: #2f93ff; 
  text-decoration: none; 
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loginbtn:hover {
  background-color: #b6d8fd; 
  color: #2f93ff; 
  border: 1px solid transparent; 
}

body {
  padding-top: 50px; 
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  background-color: transparent; 
  border-radius: 50%; 
  text-decoration: none; 
  position: relative;
  transition: background-color 0.3s ease; 
  cursor: pointer;
  outline: none; 
  border: none; 
}

.user-avatar {
  transform: scale(0.9);
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff; 
  min-width: 280px; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); 
  padding: 10px 0; 
  z-index: 1;
  border-radius: 15px; 
  right: calc(100% + 10px); 
  top: 50%; 
  transform: translateY(-10%); 
}

.dropdown {
  position: relative; 
  display: inline-block; 
}

.dropdown-avatar {
  border-radius: 50%;
  margin-right: 16px; 
  margin-bottom: 10px;
  transform: scale(1.12);
  transform-origin: center;
  user-select: none;
  cursor: default;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  user-select: text;
  cursor: text;
}

.user-info .username {
  line-height: 1.2;
  cursor: text;
}

.user-info .user-id {
  color: #666;
  line-height: 1.2;
  cursor: text;
}

.dropdown-content a,
.logoutbtn {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: flex; 
  align-items: center;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  background: none;
  border: none; 
  text-align: left; 
  cursor: pointer; 
}

.dropdown-username {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0; 
  margin-bottom: 10px;
  cursor: default; 
}

.dropdown-content a:hover,
.logoutbtn:hover {
  background-color: #f5f5f5; 
  color: black; 
}

.logout-form {
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video img {
  border-radius: 12px; 
  overflow: hidden; 
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

form {
  display: grid;
  gap: 35px;
  margin: 10px;
}

html {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

img {
  width: 300px;
  height: 200px;
}

.input-text {
  padding: 5px;
  border: 1px solid #0049f4;
  border-radius: 1rem;
  position: absolute;
  margin-top: -3px;
  margin-left: 10px;
}

.form-button {
  background-color: rgb(139, 139, 255);
  color: white;
  padding: 6px;
  border: none;
  width: 100px;
  border-radius: 1rem;
  font-size: 16px;
}

.site-footer {
  text-align: center;
  color: white;
  background-color: #8c8c8c;
  position: absolute;
  left: 0;
  right: 0;
}

.error {
  color: #ff5c5c;
  background-color: #fdf1f1;
  padding: 10px;
}

.error.valid {
  color: #3bc168;
  background-color: #e3ffe0;
  padding: 10px;
}

.icon:before {
  content: "\292B";
  color: red;
}

.icon.valid:before {
  content: "\2713";
  color: green;
}

.error-message {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.product-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.product-card a {
  text-decoration: none;
  color: #333;
}

.product-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.video-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.video-container {
  width: 100%;
  margin-bottom: 10px;
}

.video-player {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.video-info {
  margin-bottom: 30px;
}

.video-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.video-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.video-author {
  display: flex;
  align-items: center;
}

.author-avatar,
.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.author-avatar img,
.comment-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-description {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 1px 10px;
  line-height: 1.1;
}

.video-date {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.description-content {
  white-space: pre-line;
  font-weight: 100;
  margin-top: -10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #0049f4;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; 
  line-height: 1.4;
  overflow-y: auto; 
}

.comments-section {
  margin-top: 30px;
}
.comments-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.comment-form {
  display: flex;
  margin-bottom: 30px;
}
.comment-input-container {
  flex-grow: 1;
}
.comment-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  padding: 0 0; 
  resize: none;
  border-radius: 0;
  outline: none;
  transition: border-bottom-color 0.3s ease;
  overflow-y: hidden;
}

.comment-input:focus {
  border-bottom: 2px solid #4b4b4b;
}
.comment-form.active {
  display: flex;
}

.comment-cancel {
  color: #0f0f0f;
  background-color: transparent;
  cursor: pointer;
}
.comment-cancel:hover {
  background-color: #e5e5e5;
}
.comment-submit {
  background-color: #f2f2f2;
  color: #909090;
}

.comments-list {
  margin-top: 20px;
}

.comment {
  display: flex;
  margin-bottom: 20px;
}

.comment-content {
  flex-grow: 1;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}

.comment-author {
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
}

.comment-date {
  font-size: 12px;
  color: #606060;
}

.comment-text {
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-line;
}

.card-grid {
  display: grid;
  gap: 20px;
}

.card {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

.cardLink {
  text-decoration: none;
  color: #333;
}

.posterThumb {
  width: 10%;
  height: auto;
}

.cardTitle {
  margin-top: 10px;
}

.flash-message {
  opacity: 1;
  transition: opacity 0.5s;
}

.flash-message.hide {
  opacity: 0;
}

.alert {
  position: absolute;
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.5s;
  max-width: 600px;
  padding: 10px;
  border-radius: 10px;
  z-index: 10000; 
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.thumbnail {
  width: 30%;
  height: auto;
}

.profileThumb {
  width: 300px;
  height: 80pd;
  margin-right: 10px;
}

.userinfo {
  font-size: 18px;
}

.profilevideo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.videotitle {
  text-align: center;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: lighter;
}

.profile-videotitle {
  font-size: 20px;
  font-weight: lighter;
}

.deletebtn {
  background-color: rgb(139, 139, 255);
  color: white;
  padding: 6px;
  border: none;
  width: 100px;
  border-radius: 1rem;
  font-size: 16px;
}
